.services{
    margin-top: 100px;
    margin-bottom: 100px;
    background-image: url("../../../images/services/servicesbgimg.jpg");
}
.service{
   margin-left: 45%;
}
.our-services{
  margin: 10px;
}
