.nav{
    font-size: 25px;
    margin-left: 10px;
}
.link{
    text-decoration: none;
    margin: 10px;
    color: whitesmoke;
}
.link:hover{
    color: #21CDC0;
}
.name{
    color: white;
    margin-left: auto;
    margin-right: 10px;
}